.v-main, body{ background: #e4e8f2 }

.container {
margin: 5%;
}

.header-text {
    margin: 5% 0;
    font-size: 20px;
    color: #64739c;
}

.text {
    color: #fff;
    background-color: #828ba1;
}

.filterButton {
    margin: 2%;
}

.text-left {
    background-color: #7c8391 !important;
    color: #0c0d0d;
}

.v table {
    width: 100%;
    height: 100%;
    background-color: #939eb8;
}

tbody tr:nth-child(2n+2) { background-color: #ffffff}


.image {
margin-bottom: 20px;
 }

.pagination {
    margin-top: 2%;
    background-color: lightgrey;
}

button, [type=button], [type=reset], [type=submit], [role=button] {
    cursor: pointer;
    color: #64739c;
}

tr th {
    width: 50%;
}

.v-pagination__list {
    background-color: whitesmoke;
}

.v-input, v-field {
     width: 100%;
    border-radius: 5px;
    background-color: #cad3ed;
}

.v-table__wrapper table {
    height: 100%;
    background-color: #939eb8;
}

.no-results {
    text-align: center;
    color: #e4e8f2;
    font-size: 20px!important;
}



@media (min-width: 860px) {
    .v-input, v-field {
        width: 50%;
    }

    .header-text {
        font-size: 35px;
    }
}
